.header_box {
    background-color: white;
    display: flex;

    height: 100px;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    border: 4px solid black;
}

.header_img {
    position: inherit;
    margin-left: 0px;
    margin-top: 0px;
    /* border: 2px solid red; */
    /* width: inherit; */
    /* height: inherit; */
}

.menu_items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* justify-content: center; */

    position: inherit;
    margin-left: auto;
    width: 40%;

    border: 2px solid yellow;
}

.menu_btn {
    border: 1px solid pink;
    margin-right: 30px;

    font-size: 24px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}

.lang_choose {
    display: none;
}

/* Section 1 */
.section1_box {
    display: flex;
    background-color: white;
    height: 500px;
    width: 100%;

    border: 4px solid black;
}

.section1_box H1 {
    font-size: 72px;
    font-weight: 900;
    letter-spacing: 3%;
    font-family: 'Fira Sans', sans-serif;
}